psutil
numpy>=1.20
matplotlib
matplotlib-scalebar
scipy
cerberus
pandas
shapely
scikit-image
pyyaml
decorator
moviepy
dacite
geopy
opencv-python
gymnasium>=0.28.1
torch>=1.13
stable_baselines3
tqdm
geopandas
psutil
seacharts @ git+https://github.com/trymte/seacharts.git@457b5d6994330fa3b786068200022e495569c9be